APP_NAME="墨趣诗坊"
APP_ENV=local
APP_KEY=
APP_DEBUG=true

APP_LOCALE=zh_CN
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=daily
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=ink_fun_poetry_studio
DB_USERNAME=postgres
DB_PASSWORD=

FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=memcached

CACHE_STORE=redis
CACHE_PREFIX="${APP_NAME}."

MEMCACHED_HOST=localhost

REDIS_CLIENT=phpredis
REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME="noreply@zhazha120.cn"
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="${MAIL_USERNAME}"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"

SILICONFLOW_BASE_URL=
SILICONFLOW_API_KEY=
